/* BASIC STYLES START */
h1{
    font-size: 200%;
    color: white;
    margin: 0;
    padding: 1%;
    background-color:  #9B2335;
    text-align: center;
}

h2,h3{
    color:#9B2335;
    text-align: center;
}

body{
    width: 50%;
    margin: auto;

}

nav {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #222;

}

li {
    float: left;
}

.adminMenu{
    width: 30%;
    margin: auto;
}

nav a {
    margin: auto;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#nav a{
    display: inline-block;

}
a:link{
    color: lightskyblue;
}
a:visited{
    color: lightskyblue;
}

footer a:link {
    color: lightskyblue;
}
footer a:visited {
    color: lightskyblue;
}

nav a:hover {
    background-color: white;
    color:#9B2335;

}
footer{
    color:white;
    background-color:  #9B2335;
    padding: 1%;
    text-align: center;
}
.kontakt{
    text-align: center;
    color: #9B2335;
}
/* BASIC STYLES END */
/* ARTICLE THUMBNAIL START */
.articleThumbnail:hover{
    background-color: #444;
}

.articleThumbnail {
    width: 10%;
    display: flex;
    background-color: #222;
    border-radius: 10px;
    margin: auto;
    /*margin-top: 2%;
    margin-bottom: 2%;*/
}

.articleThumbnail > div {
    color: white;
    text-align: center;
    width: 20%;
    border-radius: 20px;
    background-color:#9B2335 ;
    /*margin: 2%;
    padding: 3%;*/
}
.flexDate{
    font-weight: bold;
    flex-basis: 20%;
}
.flexClanek{
    flex-basis: 50%;
}
.flexRating{
    flex-basis: 20%;
}
#flexLink{
    font-weight: bold;
    font-size: 20px;
}
/* ARTICLE THUMBNAIL END */
/* FORM START */
.form p{
    color:#9B2335 ;
    text-align: center;
}
.thumbnails{
    width: 70%;
    margin: auto;
}

.form{
    width: 80%;
    margin: auto;
    color:#9B2335 ;
    text-align: center;
}
.form a{
    color:darkblue ;
}
form input[type=text], select, input[type=password], input[type=email],textarea{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize:none;
}
form label{
    text-align: center;
}
form input[type=text]:focus, select:focus, input[type=password]:focus, input[type=email]:focus,textarea:focus{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 5px solid #9B2335;
    border-radius: 4px;
    box-sizing: border-box;
}
form input[type=submit],button[type=submit],input[type=file] {
    width: 50%;
    background-color: #222;
    color: lightskyblue;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;

}
input[type=submit]:hover,button[type=submit]:hover,input[type=file]:hover {
    background-color: #9B2335;
    color: white;
    font-weight: bold;
}
/* FORM END */
/* SCROLL BAR START */
::-webkit-scrollbar {
    width: 20px;/* width */
}
::-webkit-scrollbar-track {
    background: #222;/* Track */
}
::-webkit-scrollbar-thumb {
    background: #9B2335;/* Handle */
}
::-webkit-scrollbar-thumb:hover {
    background: lightskyblue;/* Handle on hover */
}
/* SCROLL BAR END */
/* ARTICLE START */
.metadata,.tags,.getRating{
    text-align: center;
    color: #9B2335;
    font-size: 20px;
}
.article{
    margin: auto;
}
.content{
    color: white;
    background-color: #9B2335;
    text-align: center;
    padding: 2%;
    border-radius: 50px;
    font-size: 20px;

}
/* ARTICLE  END */
/* COMMENT START */
.comment{
    width: 70%;
    margin: auto;
    margin-top: 1%;
    background-color: #9B2335;
    border-radius: 10px;
    padding: 1px;
    color: white;
    font-weight: bold;
    text-align: center;
}
.commentContent{
    background-color: #222;
    border-radius: 10px;
    padding: 2px;
    color: lightskyblue;
}
.text{
    color: white;
    font-weight: normal;
}
/* COMMENT END */
/* TABLE START */
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
    overflow: hidden; white-space: nowrap;text-overflow: ellipsis;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #9B2335;
    color: white;
}
/* TABLE END */
.alert{
    font-weight: bold;
    font-size: 20px;
    color: red;
    text-align: center;
    animation: blinker 2s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
.info{
    text-align: center;
    color: #9B2335;
    font-size: 20px;
    font-weight: bold;

}

